<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avigail.lastproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LayoutActivity" ></activity>
        <service
            android:name=".SpeechService"
            android:enabled="true" />

        <activity android:name=".AudioRecordActivity">

        </activity>
        <activity android:name=".TextToSpeechActivity" />

        <service
            android:name=".AudioRecordService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ApisManagerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SoapActivity">

        </activity>
        <activity android:name=".SoundRecording">
        </activity>
    </application>

</manifest>